/*
font-family: 'Comfortaa', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

/* --- SVG icons --- */

.icon-facebook-filled,
.icon-instagram-filled,
.icon-vk-com-filled {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -0.1em;
}

.icon-facebook-filled > svg,
.icon-instagram-filled > svg,
.icon-vk-com-filled > svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -0.1em;
}

/* --- /SVG icons --- */

html {
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.page-header {
  margin-bottom: 10px;
  background-color: #ddd;
}

.page-header-wrapper {
  display:flex;
  flex-direction: column-reverse;
  position: relative;
  max-width: 1445px;
  margin: 0 auto;
  justify-content: space-around;
}

.page-header__logo {
  width: 100%;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  color: #333;
}
.page-header__logo--1line {
  display: none;
}
.page-header__logo--2line {
  display: inline;
}

.page-header__logo--fotoag {
 font-size: .8em;
}

.header-nav {
  text-transform: uppercase;
  width: auto;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  background-color: #aaa;
  min-height: 50px;
}

.header-nav__toggle {
  display: none;
  }

.header-nav__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: #bbb;
}

.header-nav__link {
  display: block;
  padding: 20px 20px 17px;
  text-decoration: none;
  font-weight: 400;
  color: #777;
}

.header-nav__link:hover {
  background-color: #777;
  color: #999;
}

.header-nav--closed .header-nav__item--active .header-nav__link {
  border-bottom: 3px solid #555;
}

@media (max-width: 960px) {

  .page-header-wrapper {
    flex-direction: column;
  }

  .header-nav__toggle {
    display: block;
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
    width: 70px;
    height: 50px;
    background-color: #aaa;
    font-size: 0;
  }
  .header-nav--opened .header-nav__toggle {
    right: auto;
    left: 0;
  }
  .header-nav--closed .header-nav__toggle::after {
    content: "Открыть";
    position: absolute;
    top: 48%;
    right: 20%;
    width: 40px;
    height: 2px;
    background-color: #eee;
    box-shadow: 0 10px 0 0 #eee, 0 -10px 0 0 #eee
  }

  .header-nav--opened .header-nav__toggle::before {
    content: "";
    position: absolute;
    top: 48%;
    right: 20%;
    width: 40px;
    height: 2px;
    background-color: #eee;
    transform: rotate(45deg);
  }

  .header-nav--opened .header-nav__toggle::after {
    content: "Закрыть";
    position: absolute;
    top: 48%;
    right: 20%;
    width: 40px;
    height: 2px;
    background-color: #eee;
    transform: rotate(-45deg);
  }

  .header-nav__list {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
  }

  .header-nav__link {
    display: block;
    padding: 15px 20px;
    line-height: 20px;
    background-color: #ccc;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #bbb;
    font-weight: 400;
    color: #777;
  }

  .header-nav--closed .header-nav__list {
    position: static;
  }
  .header-nav--closed .header-nav__item {
    display: none;
  }

  .header-nav--closed .header-nav__item--active {
    display: block;
    text-align: center;
  }

  .header-nav--closed .header-nav__item--active .header-nav__link {
    border: 0;
  }

  .header-nav--opened .header-nav__link:hover {
    background-color: #aaa;
    color: #eee;
  }
}

.main-content {
  flex-grow: 1;
  width: 100%;
  max-width: 1445px;
  margin: 0 auto;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 margin: 0 -5px;
}

.portfolio-photo {
  position: relative;
  overflow: hidden;
  flex: 1 1 350px;
  max-width: 550px;
  margin: 5px;
}

.portfolio-photo img {
  width: 100%;
  height: 100%;
}

.portfolio-photo-caption {
  text-align: center;
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  color: #ddd;
  z-index: 5;
  background-color: rgba(0, 0, 0, .3);
  transition: .3s;
}

.portfolio-photo-caption a {
  display: inline-block;
  text-decoration: none;
  color: #444;
  background-color: #ddd;
  border-radius: 3px;
  margin-top: 25px;
  padding: 15px 30px;
}

.portfolio-photo:hover .portfolio-photo-caption {
  top: 0px;
}

.footer {
}

.footer-contacts {
  padding: 20px 20px;
  text-align: center;
}

.footer-contacts__title {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
}

.footer-contacts__adr,
.footer-copyright--title {
  display: block;
  margin-bottom: 15px;
}

.footer-contacts__email {
  display: block;
  margin-bottom: 15px;
  color: black;
  text-decoration: none;
}

.footer-contacts__phone,
.footer-copyright__btn {
  display: inline-block;
  padding: 15px 70px;
  border: 1px solid gray;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.footer-contacts__phone span {
  display: none;
}

.footer-social__title {
  display: none;
}

.footer-social__icons {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.footer-social__btn {
  display: table-cell;
  position: relative;
  width: 33.333%;
  height: 80px;
  text-decoration: none;
  border: 1px solid gray;
  font-size: 0;
  vertical-align: middle;
  text-align: center;
}

.footer-social__btn  i {
  font-size: 50px;
  color: #444;
  margin: auto;
}

.footer-copyright {
  padding: 10px 20px 10px;
  text-align: center;
}

@media (min-width: 710px) {

  .footer {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
  }
  .footer-contacts {
    padding: 20px 0 15px;
    text-align: left;
  }
  .footer-contacts__phone {
    padding: 0;
    border: none;
    font-weight: 400;
  }
  .footer-contacts__phone span {
  display: inline;
  }
  .footer-social {
    order: 3;
    width: 100%;
  }
  .footer-copyright {
  padding: 20px 0;
  }
}

@media (min-width: 960px) {

  .page-header__logo--2line {
    display: none;
  }
  .page-header__logo--1line {
    display: inline;
  }

  .page-header__logo--fotoag {
    font-size: 1em;
  }

  .header-nav__link:hover {
  padding-bottom: 20px;
}
  .main-content-about p {
    column-count: 2;
  }

  .footer {
    flex-wrap: nowrap;

    max-width: 1445px;
    padding: 20px 0 10px;
  }
  .footer-contacts {
    padding: 0;
  }
  .footer-contacts__title span {
    display: none;
  }
  .footer-contacts__phone {
  }
  .footer-social {
    order: 0;
    width: 30%;
    max-width: 310px;
    padding: 0;
    text-align: center;
  }
  .footer-social__title {
    display: block;
    margin-bottom: 20px;
  }
  .footer-social__icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-collapse: collapse;
  }
  .footer-social__btn {
    display: flex;
    position: relative;
    width: 80px;
    height: 80px;
    text-decoration: none;
    border: 1px solid gray;
  }
  .footer-copyright {
    padding: 0;
  }
  .footer-copyright--title {
    margin-bottom: 20px;
  }
}

.contact {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -5px 10px;
  justify-content: space-between;
  align-items: stretch;
}

.contact h2 {
  margin-top: 0;
}

.contact-form,
.contact-text {
  flex: 1 1 420px;
  margin: 10px 5px 0;
  padding: 20px;
  background-color: #ddd;
}

.contact-form-field label,
.contact-form-field input,
.contact-form textarea {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 5px;
  padding-left: 8px;
}

.contact-form-field input,
.contact-form textarea {
  border: 0;
  border-bottom: 2px solid #bbb;
  background-color: #eee;
  margin-bottom: 10px;
  padding: 6px 8px 5px;
  resize: vertical;
}
.contact-form-list {
  list-style: none;
}

.contact-form-field input:focus,
.contact-form-field textarea:focus {
  outline: 0;
  border-bottom: 2px solid #777;
}

.contact-form button {
  margin-top: 5px;
  padding: 9px 30px 10px;
  border: 1px solid #777;
  border-radius: 2px;
  background-color: #ccc;
  box-shadow: 0 0 10px 3px #bbb;
}

.contact-form button:hover {
  background-color: #bbb;
}

.contact-form button:active {
  outline: 0;
  background-color: #bbb;
  box-shadow: none;
}

.contact-text img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
 /* blog */

.blog-previw-warper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -1.5%;
}

.blog-previw-warper .blog-preview {
  min-width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.blog-article-preview {
  background-color: #fff;
  flex: 1 1 350px;
  min-width: 310px;
  max-width: 550px;
  margin: 1.5%;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  transition: all 0.6s cubic-bezier(0.165,0.84,0.44,1);
}

.blog-article-preview:hover {
  transform: translate(0, -6px);
  box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.15);
}

.article-card-header {
  position: relative;
}

.blog-caption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  color: #fff;
  z-index: 5;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .2);
}

.article-card-header img {
  display: block;
  width: 100%;
  height: 100%;

}

.blog-caption h1 {
  font-size: 1.3em;
  margin: auto auto 10px;
  text-align: center;
}

.blog-caption time {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
}

.blog-caption .blog-article-tags {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
}

.blog-caption h1,
.blog-caption time,
.blog-caption .blog-article-tags {
  text-shadow: 0 0 1px #000, 0 0 30px #000;
}

.blog-caption .blog-article-tags::before {
  content: "#";
}

.blog-caption a {
  color: #fff;
  text-decoration: none;
}

.blog-article-preview .text-block {
  padding: 10px;
}

.blog-article-preview .text-block  p {
  margin: 0;
}

.blog-article-preview .text-block .more-btn {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 24px;
  color: #333;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
  padding: 8px 40px;
  border: 1px solid #777;
  border-radius: 2px;
  background-color: #ccc;
  box-shadow: 0 0 10px 3px #bbb;
}

.blog-article-preview .text-block .more-btn:hover {
  background-color: #bbb;
}

.blog-article-preview .text-block .more-btn:active {
  outline: 0;
  background-color: #bbb;
  box-shadow: none;
}
